opencv-python
numpy
pandas
tqdm
scikit-learn
torch
torchvision
torchaudio
matplotlib
seaborn
grad-cam
librosa
ffmpeg-python
face-recognition
mtcnn
mediapipe
openai-whisper
peft
transformers
accelerate
fastapi
uvicorn
streamlit
python-multipart
python-magic
